/* ========== TYPOGRAPHY ==========*/
/* ========== TYPOGRAPHY ==========*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url("https://fonts.googleapis.com/css?family=Crete+Round");
@keyframes chevronAnim {
  from {
    opacity: 0;
    bottom: 50px;
  }

  to {
    opacity: 1;
    bottom: 20px;
  }
}
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
  height: 100%;
}

.main-body {
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 100;
}

.text-central {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* ========== POSITIONING ==========*/
.main-body {
  margin-left: 260px;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1170px;
}

/* ========== BUTTON ==========*/
a.btn-secondary {
  background-color: transparent;
  border: 1px solid #36363e;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  color: white;
}
a.btn-primary, a.btn-primary:focus {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  padding: 8px 20px 8px 20px;
  transition: 0.2s color ease-in-out;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
}
a.btn-primary:hover, a.btn-primary:focus:hover {
  background-color: white;
  color: #36363e;
  border: 1px solid white;
}
a.btn-primary:focus, a.btn-primary:focus:focus {
  outline: none;
}

/* ========== HAMBURGER ==========*/
.list-container .col-md-4 {
  margin-top: 30px;
}

.mobile-bar {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  z-index: 30;
}

.nav-hamburger {
  position: relative;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  transition: 0.5s all ease-in-out;
}
.nav-hamburger.menu-active span {
  display: table;
  position: relative;
  transition: 0.5s all ease-in-out;
}
.nav-hamburger.menu-active span:first-child {
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  transform: rotate(45deg);
}
.nav-hamburger.menu-active span:last-child {
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  transform: rotate(-45deg);
}
.nav-hamburger.menu-active span:nth-child(2) {
  display: none;
}
.nav-hamburger span {
  display: block;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #36363e;
  border-radius: 4px;
}
.nav-hamburger span.nav-dark {
  background-color: #36363e;
}

.left-navigation {
  background-color: white;
  border-right: #eeeeee 1px solid;
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 2;
}
.left-navigation img {
  margin-top: 40px;
  width: 160px;
}
.left-navigation ul {
  position: relative;
  margin-top: 25px;
  margin-left: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.left-navigation ul li {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
}
.left-navigation ul li a {
  color: #36363e;
}
.left-navigation ul li a.active {
  color: #c52526;
  text-decoration: none;
}
.left-navigation ul li a:hover {
  text-decoration: none;
  color: #c52526;
}
.left-navigation ul li a:active {
  text-decoration: none;
}
.left-navigation ul li a:focus {
  text-decoration: none;
}
.left-navigation ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  border-top: 1px #ececec solid;
  border-bottom: 1px #ececec solid;
  z-index: -20;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(/img/header-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#header h1 {
  margin-top: 0;
  font-size: 90px;
  color: white;
}
#header .header-text {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#header i {
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  -webkit-animation: chevronAnim 1.5s ease-out infinite;
  animation: chevronAnim 1.5s ease-out infinite;
  left: 50%;
  transform: translateX(-50%);
}

#about h4 {
  text-align: center;
  margin-top: 80px;
  font-size: 33px;
  line-height: 1.6;
}
#about .lead {
  text-align: center;
  margin-top: 40px;
  line-height: 1.8;
  font-size: 20px;
}
#about .meet-the-team {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
}
#about .meet-the-team img {
  width: 100%;
}
#about .meet-the-team h6 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 20px;
}
#about .meet-the-team small {
  letter-spacing: 1.5px;
  font-size: 13px;
}

#work {
  margin-top: 100px;
  text-align: center;
}
#work .lead {
  line-height: 1.8;
}
#work a.btn {
  color: #36363e;
}
#work .masonry-container {
  margin-top: 40px;
  height: 500px;
  position: relative;
}
#work .masonry-container .masonry {
  display: inline-block;
  position: absolute;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
#work .masonry-container .masonry .masonry-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
#work .masonry-container .masonry .masonry-info .masonry-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
#work .masonry-container .masonry .masonry-info .masonry-text h5 {
  font-weight: 400;
  font-size: 22px;
}
#work .masonry-container .masonry .masonry-info .masonry-text small {
  font-size: 16px;
}
#work .masonry-container .masonry.masonry-main {
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/img/masonry1.jpg);
}
#work .masonry-container .masonry.masonry-upper {
  width: 25%;
  height: 50%;
  top: 0;
  left: 50%;
  background-image: url(/img/masonry2.jpg);
}
#work .masonry-container .masonry.masonry-upper-2 {
  width: 25%;
  height: 50%;
  top: 0;
  left: 75%;
  background-image: url(/img/masonry3.jpg);
}
#work .masonry-container .masonry.masonry-lower {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  background-image: url(/img/masonry4.jpg);
}

#events {
  margin-top: 90px;
  text-align: center;
}
#events .row {
  margin-top: 40px;
  text-align: left;
}
#events h1 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#events .event-grid {
  margin-top: 40px;
}
#events .event-grid img {
  width: 100%;
}
#events .event-grid p {
  font-size: 16px;
  opacity: 0.8;
}
#events .event-grid h5 {
  font-size: 28px;
  font-weight: 300;
}
#events .event-grid small {
  color: #c52526;
  line-height: 60px;
  font-size: 14px;
}
#events a.btn {
  margin-top: 40px;
  color: #36363e;
}

#blog {
  margin-top: 70px;
  text-align: center;
}
#blog .blog-container {
  width: 100%;
  height: 400px;
  background-image: url(/img/blog-bg.jpg);
  background-position: center center;
  text-align: center;
  position: relative;
  color: white;
}
#blog .blog-container ul {
  list-style: none;
  padding-left: 0;
}
#blog .blog-container ul li {
  display: none;
}
#blog .blog-container ul li a {
  color: white;
}
#blog .blog-container ul li a:hover {
  text-decoration: none;
}
#blog .blog-container .blog-info {
  display: inline-block;
  position: relative;
  top: 200px;
  transform: translateY(-50%);
}
#blog .blog-container .blog-info h3 {
  font-weight: 300;
  font-size: 32px;
}
#blog .blog-container .blog-info p {
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
}
#blog .blog-container .blog-info .rotator-box .rotator {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  display: inline-block;
  border-radius: 45px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
#blog .blog-container .blog-info .rotator-box .rotator-full {
  background-color: white;
}
#blog .blog-container .btn-light {
  border: 1px solid white;
}
#blog .blog-container .btn-light:hover {
  color: white;
}

#contact {
  margin-top: 60px;
  text-align: center;
}
#contact a {
  color: #36363e;
}
#contact input {
  width: 100%;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 22px;
  letter-spacing: 1px;
}
#contact input:focus {
  outline: none;
}
#contact textarea {
  resize: vertical;
  width: 100%;
  margin-top: 30px;
  font-size: 22px;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
}
#contact textarea:focus {
  outline: none;
}

#footer {
  margin-top: 60px;
  background-color: #52515a;
  text-align: center;
  color: white;
  padding-top: 30px;
}
#footer h5 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#footer ul {
  list-style: none;
  padding: 0;
}
#footer ul li {
  padding-top: 6px;
}
#footer ul a {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}
#footer ul a:hover {
  text-decoration: none;
}
#footer input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: #36363e;
}
#footer .btn-light {
  border: 1px solid white;
}
#footer .btn-light:hover {
  color: white;
}
#footer p {
  font-size: 17px;
  letter-spacing: 0.5px;
}
#footer .lower-footer {
  background-color: #36363e;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer .lower-footer p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.list-header {
  background-color: #f6f6f6;
  height: 120px;
  border-bottom: 1px solid #d0d0d0;
}
.list-header h3, .list-header small {
  line-height: 120px;
  margin: 0;
  padding: 0;
}
.list-header h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1.6px;
}
.list-header small {
  font-size: 14px;
}

.list-container {
  margin-top: 60px;
}
.list-container .row:not(:first-child) {
  margin-top: 60px;
}
.list-container img {
  width: 100%;
}
.list-container h5 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 20px;
}
.list-container a {
  color: #36363e;
}
.list-container a:hover {
  text-decoration: none;
}
.list-container .readMore {
  color: #c52526;
}
.list-container p {
  font-size: 15px;
}
.list-container ul {
  list-style: none;
  padding-left: 0;
}
.list-container ul li {
  display: inline-block;
  font-family: 'Crete Round', serif;
  font-style: italic;
  padding-right: 10px;
  opacity: 0.5;
}
.list-container ul li i {
  padding-right: 5px;
}
.list-container ul li:first-child:after {
  content: "/";
  padding-left: 10px;
}
.list-container .pagination {
  width: 100%;
  margin-top: 50px;
}
.list-container .pagination a {
  border: 1px solid #c52526;
  padding: 10px 15px;
  border-radius: 45px;
  transition: 0.3s all ease-in-out;
}
.list-container .pagination a:hover {
  text-decoration: none;
  background-color: #c52526;
  color: white;
}

.main-post {
  margin-top: 60px;
}
.main-post h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1.6px;
}
.main-post ul {
  list-style: none;
  padding-left: 0;
  font-family: 'Crete Round', serif;
  font-style: italic;
  opacity: 0.5;
  font-size: 13px;
  margin-top: 15px;
}
.main-post ul li {
  display: inline-block;
  padding-right: 10px;
}
.main-post ul li:after {
  content: "/";
  padding-left: 10px;
}
.main-post ul li:last-child:after {
  display: none;
}
.main-post ul li i {
  padding-right: 5px;
}
.main-post img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-post .post-body p {
  font-size: 17px;
  line-height: 1.8;
  margin-top: 25px;
}
.main-post .post-body blockquote {
  font-family: 'Crete Round', serif;
  font-style: italic;
  line-height: 1.8;
  font-size: 18px;
}
.main-post .share-icons {
  height: 50px;
  margin-top: 30px;
}
.main-post .share-icons ul, .main-post .share-icons p {
  margin: 0;
  padding: 0;
  line-height: 50px;
}
.main-post .share-icons p {
  font-weight: 400;
  font-size: 17px;
}
.main-post .share-icons ul {
  opacity: 1;
  font-size: 18px;
}
.main-post .author-container {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
}
.main-post .author-container .author-name {
  border: 1px solid #d0d0d0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  background-color: #f7f7f7;
  padding: 10px 15px;
}
.main-post .author-container .author-name h4 {
  font-weight: 400;
  font-size: 20px;
}
.main-post .author-container .author-name h4 strong {
  font-weight: 400;
  color: #c52526;
}
.main-post .author-container .col-md-2 {
  position: relative;
}
.main-post .author-container img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 30px;
}
.main-post .author-container p {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.main-post .comments-container {
  margin-top: 70px;
}
.main-post .comments-container h5 {
  font-weight: 400;
  font-size: 26px;
}
.main-post .comments-container h5 strong {
  font-weight: 400;
  color: #c52526;
}
.main-post .comments-container .comment-box {
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  position: relative;
  min-height: 150px;
}
.main-post .comments-container .comment-box .comment-info {
  margin-left: 60px;
  margin-top: 20px;
}
.main-post .comments-container .comment-box .comment-info h6 {
  font-family: 'Crete Round';
  font-size: 20px;
  margin-bottom: 5px;
}
.main-post .comments-container .comment-box .comment-info small {
  font-family: 'Crete Round', serif;
  font-size: 14px;
  opacity: 0.6;
}
.main-post .comments-container .comment-box .comment-info p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}
.main-post .comments-container .comment-box .image-base {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #d0d0d0;
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
}
.main-post .comments-container .comment-box img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  margin: 0;
  top: 39px;
  transform: translateX(-50%);
  z-index: 99;
}
.main-post .comment-form-container {
  margin-top: 90px;
}
.main-post .comment-form-container h4 {
  font-weight: 400;
  font-size: 24px;
}
.main-post .comment-form-container form {
  margin-top: 20px;
  text-align: center;
}
.main-post .comment-form-container form .row {
  margin-top: 30px;
}
.main-post .comment-form-container form p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: left;
}
.main-post .comment-form-container form input {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #d0d0d0;
}
.main-post .comment-form-container form textarea {
  padding: 5px 15px;
  resize: none;
  width: 100%;
  border: 1px solid #d0d0d0;
}
.main-post .comment-form-container form a {
  color: #36363e;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}

.is-hidden {
  visibility: hidden;
}

.events-container {
  margin-top: 50px;
  margin: 50px auto 0 auto;
  position: relative;
  display: block;
  z-index: 0;
  width: 90%;
}
@media (min-width: 1400px) {
  .events-container {
    width: 70%;
  }
}
.events-container::before {
  content: '';
  position: absolute;
  width: 5px;
  top: 0;
  left: 50%;
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  height: 100%;
  background-color: transparent;
  z-index: -1;
}
.events-container .event-header {
  display: block;
  text-align: center;
  background-color: white;
}
.events-container .event-header .event-title {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 15px;
}
.events-container .event-header h6 {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.events-container .timeline-block {
  position: relative;
}
.events-container .timeline-block .timeline-connector {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background-color: white;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  transition: 0.3s border-color ease;
}
.events-container .timeline-block .timeline-connector::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(-100% - 10px);
  width: 30px;
  height: 5px;
  background-color: transparent;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  transition: 0.3s border-color ease;
}
.events-container .timeline-block .timeline-content {
  display: block;
  width: 45%;
}
.events-container .timeline-block .timeline-content h2 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.events-container .timeline-block .timeline-content small {
  font-family: 'Crete Round', serif;
  font-style: italic;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.events-container .timeline-block .timeline-content p {
  margin-top: 20px;
}
.events-container .timeline-block .timeline-content a {
  color: #c52526;
}
.events-container .timeline-block .timeline-content a:hover {
  text-decoration: none;
}
.events-container .timeline-block:nth-child(odd) .timeline-content {
  float: right;
}
.events-container .timeline-block:nth-child(odd) .timeline-connector::before {
  left: 100%;
}
.events-container .timeline-block:hover .timeline-connector {
  border-color: #c52526;
}
.events-container .timeline-block:hover .timeline-connector::before {
  border-color: #c52526;
}

.single-container {
  margin-top: 60px;
}
.single-container h1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
}
.single-container img {
  margin-top: 15px;
  width: 100%;
}
.single-container .single-event-info {
  margin-top: 30px;
}
.single-container .single-event-info p {
  font-size: 16px;
}
.single-container .single-event-info .single-event-box {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 10px 10px;
}
.single-container .single-event-info .single-event-box ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
.single-container .single-event-info .single-event-box ul li {
  margin-bottom: 10px;
  font-size: 15px;
}
.single-container .single-event-info .single-event-box ul li i {
  padding-right: 15px;
  width: 25px;
}
.single-container .single-event-info .single-event-box ul:last-child {
  margin-left: 50px;
}
.single-container .single-event-info .single-event-box ul.title-list {
  font-weight: 500;
}

/* === LAPTOPS === */
@media screen and (max-width: 1200px) {
  .left-navigation {
    width: 200px;
  }

  .main-body {
    margin-left: 200px;
  }
}
/* === TABLETS === */
@media screen and (max-width: 992px) {
  .left-navigation {
    display: none;
    width: 100%;
  }
  .left-navigation img {
    display: none;
  }
  .left-navigation .text-left {
    text-align: center;
    top: 50%;
    margin-left: 0;
    transform: translateY(-50%);
  }
  .left-navigation .text-left li {
    padding: 0;
    margin: 0;
    padding: 20px 0;
    position: relative;
    font-size: 16px;
  }
  .left-navigation .text-left li::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobile-bar {
    display: block;
  }

  .main-body {
    margin-left: 0px;
  }

  .meet-the-team .col-sm-6 {
    margin-bottom: 30px;
  }
  .meet-the-team .col-sm-6 img {
    width: 70% !important;
  }

  .event-grid .col-sm-6 {
    margin-top: 30px;
  }
  .event-grid .row {
    margin-top: 0 !important;
  }

  #footer .col-md-4 {
    margin-top: 40px;
  }
  #footer .col-md-4:first-child {
    margin-top: 0;
  }
  #footer .col-md-4 .input-container {
    text-align: center;
  }

  .list-header {
    margin-top: 60px;
  }
  .list-header small {
    display: none;
  }

  .list-container .row {
    margin-top: 0 !important;
  }
  .list-container .row .col-sm-6 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  #header h1 {
    font-size: 60px;
  }

  #about h4 {
    font-size: 26px;
  }
  #about p {
    font-size: 17px !important;
  }
  #about .meet-the-team img {
    max-width: 300px;
  }

  #work .masonry {
    width: 100% !important;
    height: 25% !important;
    left: 0 !important;
  }
  #work .masonry.masonry-main {
    top: 0 !important;
  }
  #work .masonry.masonry-upper {
    top: 25% !important;
    left: 0 !important;
  }
  #work .masonry.masonry-upper-2 {
    top: 50% !important;
  }
  #work .masonry.masonry-lower {
    top: 75% !important;
  }

  #events h1 {
    font-size: 24px;
  }
  #events .col-sm-6 p {
    font-size: 14px;
  }
  #events .col-sm-6 h5 {
    font-size: 23px;
  }
}
@media screen and (max-width: 644px) {
  .events-container::before {
    left: 20px;
  }
  .events-container .event-header {
    display: none;
  }
  .events-container .timeline-block .timeline-connector {
    left: 20px;
  }
  .events-container .timeline-block .timeline-connector::before {
    left: 100% !important;
  }
  .events-container .timeline-block .timeline-content {
    margin-left: 50px;
    margin-top: 20px !important;
    width: 70%;
  }
  .events-container .timeline-block:nth-child(odd) .timeline-content {
    float: left;
  }
}
