/* === LAPTOPS === */

@media screen and (max-width: 1200px) {
  .left-navigation {
    width: 200px;
  }

  .main-body {
    margin-left: 200px;
  }
}

/* === TABLETS === */

@media screen and (max-width: 992px) {
  .left-navigation {
    display: none;
    width: 100%;

    img {
      display: none;
    }

    .text-left {
      text-align: center;
      top: 50%;
      margin-left: 0;
      transform: translateY(-50%);

      li {
        padding: 0;
        margin: 0;
        padding: 20px 0;
        position: relative;
        font-size: 16px;

        &::after {
          content: '';
          position: absolute;
          width: 30px;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.5);
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .mobile-bar {
    display: block;
  }
  .main-body {
    margin-left: 0px;


  }

  .meet-the-team {
    .col-sm-6 {
      margin-bottom: 30px;

      img {
        width: 70% !important;
      }
    }
  }

  .event-grid {
    .col-sm-6 {
      margin-top: 30px;
    }

    .row {
      margin-top: 0 !important;
    }
  }

  #footer {
    .col-md-4 {
      margin-top: 40px;

      &:first-child {
        margin-top: 0;
      }

      .input-container {
        text-align: center;
      }
    }
  }

  .list-header {
    margin-top: 60px;

    small {
      display: none;
    }
  }

  .list-container {
    .row {
      margin-top: 0 !important;

      .col-sm-6 {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    h1 {
      font-size: 60px;
    }
  }

  #about {
    h4 {
      font-size: 26px;
    }

    p {
      font-size: 17px !important;
    }

    .meet-the-team {
      img {
        max-width: 300px;
      }
    }
  }

  #work {
    .masonry {
      width: 100% !important;
      height: 25% !important;
      left: 0 !important;

      &.masonry-main {
          top: 0 !important;
      }

      &.masonry-upper {
        top: 25% !important;
        left: 0 !important;
      }

      &.masonry-upper-2 {
        top: 50% !important;
      }

      &.masonry-lower {
        top: 75% !important;
      }
    }
  }

  #events {
    h1 {
      font-size: 24px;
    }

    .col-sm-6 {
      p {
        font-size: 14px;
      }

      h5 {
        font-size: 23px;
      }
    }
  }
}

@media screen and (max-width: 644px) {
  .events-container {
    &::before {
      left: 20px;
    }

    .event-header {
      display: none;
    }

    .timeline-block {

      .timeline-connector {
        left: 20px;

        &::before {
          left: 100% !important;
        }
      }

      .timeline-content {
        margin-left: 50px;
        margin-top: 20px !important;
        width: 70%;
      }

      &:nth-child(odd) {
        .timeline-content {
          float: left;
        }
      }
    }
  }
}
